<aside>
	<div class="panel radius">
		<h3>Pr0gamErs</h3>
		<p>
			Bem vindo ao blog do <em>Pr0GamErs</em>. <br><br>
			Falamos sobre o jogo, estratégias, sobre o Clan, os jogadores e tudo o que estiver relacionado ao universo do Clans Royale.<br><br>
			Se você gostou, aproveite para deixar um comentários ou sugestõe lá no final dos Posts.<br><br>
			Boa Sorte e Bom jogo!
		</p>
	</div>

{%comment%}

	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>

{%endcomment%}

</aside>
